<p-table [value]="data" dataKey="code" [tableStyle]="{ 'min-width': '50rem' }">
  <ng-template pTemplate="header">
    <tr>
      <th style="width: 4rem">
        <p-tableHeaderCheckbox
          (onChange)="selectAllRows()"
        ></p-tableHeaderCheckbox>
      </th>
      <th *ngFor="let col of columnsData">{{ col.header }}</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData>
    <tr (click)="onRowSelect(rowData)">
      <td><p-tableCheckbox [value]="rowData"></p-tableCheckbox></td>
      <td *ngFor="let col of columnsData">{{ rowData[col.key] }}</td>
    </tr>
  </ng-template>
</p-table>
